In [72]:
import pandas as pd
import os
import numpy as np
file = os.path.join("Resources" ,"federal-firearm-licensees_Original.csv")
csv_file = pd.read_csv(file)
csv_file.count()

C:\Users\hongk\Anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (1,2,3,4,6,12,17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Unnamed: 0          80191
Lic Regn            80190
Lic Dist            80190
Lic Cnty            80190
Lic Type            80190
Lic Xprdte          80190
Lic Seqn            80190
License Name        80191
Business Name       52423
Premise Street      80190
Premise City        80190
Premise State       80190
Premise Zip Code    80190
Mail Street         80190
Mail City           80189
Mail State          80190
Mail Zip Code       80190
Voice Phone         80178
dtype: int64

In [73]:
#Remove missing data
csv_file = csv_file.drop(csv_file.index[0])
csv_file = csv_file.dropna(how="any")
csv_file.count()

Unnamed: 0          52413
Lic Regn            52413
Lic Dist            52413
Lic Cnty            52413
Lic Type            52413
Lic Xprdte          52413
Lic Seqn            52413
License Name        52413
Business Name       52413
Premise Street      52413
Premise City        52413
Premise State       52413
Premise Zip Code    52413
Mail Street         52413
Mail City           52413
Mail State          52413
Mail Zip Code       52413
Voice Phone         52413
dtype: int64

In [74]:
#Testing
csv_file.head()

,Unnamed: 0,Lic Regn,Lic Dist,Lic Cnty,Lic Type,Lic Xprdte,Lic Seqn,License Name,Business Name,Premise Street,Premise City,Premise State,Premise Zip Code,Mail Street,Mail City,Mail State,Mail Zip Code,Voice Phone
1,1,1,66,003,01,7L,00150,"SALAZAR-MORET, CHARLES",AGUADA SPORT SHOP & ARMORY,BO ASOMANTE CARR 115 KM 24-5,AGUADA,PR,00602,CALLE COLON #4 SUITE 3,AGUADA,PR,00602,7878686682
2,2,1,66,003,01,8F,00258,"HERNANDEZ-MUNOZ, GILBERTO",ARMERIA Y ACCESORIOS EL NARANJAL,CARR 411 KM 1.0 BO GUAYABO SECTOR BAJURA,AGUADA,PR,00602,4 REPTO MINERVA,AGUADA,PR,00602,7878680125
3,3,1,66,003,08,8H,00285,"SALAZAR MORET, CHARLES",AGUADA SPORT SHOP,BO ASOMANTE CARR 115 KM 24-5,AGUADA,PR,00602,CALLE COLON #4 SUITE 3,AGUADA,PR,00602,7878686682
4,4,1,66,005,01,9M,00224,"CARDONA-VALENTIN, VIRGINIA",SHOOTING ACCESSORIES & SERVICE,BO PALMAR CARR 111 KM 1.8,AGUADILLA,PR,00603,HC 2 BOX 20554,AGUADILLA,PR,00603,7876587174
5,5,1,66,013,01,8M,83577,"GUTIERREZ-MARTINEZ, ORLANDO",G G AND GUNS,BETANCES 165,ARECIBO,PR,00612,BETANCES 165,ARECIBO,PR,00612,7878788329

In [75]:
#Count how many gun supplier per each State
license_count = csv_file.groupby("Premise State", as_index=False).count()
state = license_count["Premise State"]
count = license_count["Premise City"]
license_count.head()

,Premise State,Unnamed: 0,Lic Regn,Lic Dist,Lic Cnty,Lic Type,Lic Xprdte,Lic Seqn,License Name,Business Name,Premise Street,Premise City,Premise Zip Code,Mail Street,Mail City,Mail State,Mail Zip Code,Voice Phone
0,AK,528,528,528,528,528,528,528,528,528,528,528,528,528,528,528,528,528
1,AL,1043,1043,1043,1043,1043,1043,1043,1043,1043,1043,1043,1043,1043,1043,1043,1043,1043
2,AR,1087,1087,1087,1087,1087,1087,1087,1087,1087,1087,1087,1087,1087,1087,1087,1087,1087
3,AZ,1668,1668,1668,1668,1668,1668,1668,1668,1668,1668,1668,1668,1668,1668,1668,1668,1668
4,CA,2224,2224,2224,2224,2224,2224,2224,2224,2224,2224,2224,2224,2224,2224,2224,2224,2224

In [77]:
#Remove the rows with State that are not part of the 50 States
group_license_count["Gun Supplier Count"] = pd.DataFrame({"State": state,"Gun Supplier Count": count})
group_license_count = group_license_count[group_license_count.State != "DC"]
group_license_count = group_license_count[group_license_count.State != "GU"]
group_license_count = group_license_count[group_license_count.State != "MP"]
group_license_count = group_license_count[group_license_count.State != "PR"]
group_license_count = group_license_count[group_license_count.State != "VI"]
group_license_count = group_license_count.reset_index(drop=True)

group_license_count.head()

  Gun Supplier Count State
0                528    AK
1               1043    AL
2               1087    AR
3               1668    AZ
4               2224    CA

In [79]:
#Reorder data frame and put State as 1st column
group_license_count = group_license_count[["State", "Gun Supplier Count"]]
group_license_count

   State Gun Supplier Count
0     AK                528
1     AL               1043
2     AR               1087
3     AZ               1668
4     CA               2224
5     CO               1283
6     CT                368
7     DE                  4
8     FL                 74
9     GA               2035
10    HI               1580
11    IA                 15
12    ID                 67
13    IL               1087
14    IN                760
15    KS               1599
16    KY               1196
17    LA                896
18    MA               1128
19    MD                910
20    ME                358
21    MI                387
22    MN                454
23    MO               1400
24    MS               1085
25    MT               1682
26    NC                  1
27    ND                748
28    NE                815
29    NH               2015
30    NJ                353
31    NM                572
32    NV                327
33    NY                192
34    OH                616
35    OK                550
36    OR               1113
37    PA               1847
38    RI               1254
39    SC               1010
40    SD               1919
41    TN                 42
42    TX                 66
43    UT                898
44    VA                413
45    VT               1420
46    WA               5630
47    WI                776
48    WV               1284
49    WY                  5

In [80]:
#Write data to CSV file
file_path = os.path.join("Resources","group_license_count.csv")
group_license_count.to_csv(file_path)